OPENROUTER_API_KEY=your_openrouter_api_key
FREESOUND_API_KEY=your_freesound_api_key
YT_CLIENT_ID=your_youtube_client_id
YT_CLIENT_SECRET=your_youtube_client_secret
YT_REFRESH_TOKEN=your_youtube_refresh_token
